<!doctype html>
<!--

  INTEL CONFIDENTIAL

  Copyright 2006 - 2017 Intel Corporation All Rights Reserved.

  The source code contained or described herein and all documents related
  to the source code ("Material") are owned by Intel Corporation or its
  suppliers or licensors. Title to the Material remains with Intel
  Corporation or its suppliers and licensors. The Material contains trade
  secrets and proprietary and confidential information of Intel or its
  suppliers and licensors. The Material is protected by worldwide copyright
  and trade secret laws and treaty provisions. No part of the Material may
  be used, copied, reproduced, modified, published, uploaded, posted,
  transmitted, distributed, or disclosed in any way without Intel's prior
  express written permission.

  No license under any patent, copyright, trade secret or other intellectual
  property right is granted to or conferred upon you by disclosure or
  delivery of the Materials, either expressly, by implication, inducement,
  estoppel or otherwise. Any license under such intellectual property rights
  must be express and approved by Intel in writing.

-->
<html lang="en">
   <head>
     <meta charset="utf-8"/>
     <meta name="description" content="Highland Park IP register specification">
     <title>HLP Registers</title>
     <style>
       table { width: 100%; }
       table, th, td {
         text-align: left;
         border: 1px solid black;
         border-collapse: collapse;
       }
       th { background-color: #e6e6ff; }
       th, td { padding: 5px; }
       th.am1 { width: 25*; font-weight: bold; }
       th.am2 { width: 45*; font-weight: bold; }
       th.am3 { width: 15*; font-weight: bold; }
       th.am4 { width: 15*; font-weight: bold; }
       th.rf1 { width: 30*; font-weight: bold; }
       th.rf2 { width: 40*; font-weight: bold; }
       th.rf3 { width:  5*; font-weight: bold; }
       th.rf4 { width: 20*; font-weight: bold; }
       th.rg1 { width: 28*; font-weight: bold; }
       th.rg2 { width:  7*; font-weight: bold; }
       th.rg3 { width:  9*; font-weight: bold; }
       th.rg4 { width: 39*; font-weight: bold; }
       th.rg5 { width:  7*; font-weight: bold; }
       th.rg6 { width: 10*; font-weight: bold; }
     </style>
   </head>
   <body>
      <h1>Register Definitions</h1>
      <h2>Register Access Types</h2>
      <ul>
         <li>RW: Read/Write</li>
         <li>RW/V: Read/Write Variant</li>
         <li>RW/1C/V: Read/Write 1 Clear Variant. Read returns current
         value, write 1 to clear</li>
         <li>RO: Read Only</li>
         <li>RO/V: Read Only Variant. Variant refers to hardware updated
         registers which are ignored and not predicted by RAL model</li>
         <li>RO/C: Read Only Clear. Read only but reading will clear the
         field</li>
         <li>RO/C/V: Read Only with Clear on read Variant</li>
         <li>RSV: Reserved. Read and Write masks are disabled</li>
      </ul>
      <!-- auto-generated-addrmap -->
      <!-- /auto-generated-addrmap -->
      <!-- auto-generated-regfiles -->
      <!-- /auto-generated-regfiles -->
      <!-- auto-generated-registers -->
      <!-- /auto-generated-registers -->
   </body>
</html>
