*.eps
*.log
*.pdf
*.ps
*.aux
*.dvi
*.lof
*.lot
*.toc
beat.png
buffering_dff.png
buffering_pipe.png
buffering_pipe1.png
buffering_pipe2.png
buffering_pipe3.png
clkdiv.png
clock.png
des_outline.png
divtiming.png
exevent.png
meas_sync_ff.png
measuring_dff.png
simple_dff.png
taiticks.png
timedelta.png
