/* $Id: sxproxy.tmpl,v 1.1 2009/04/24 07:09:13 mika Exp $ */

readonly proc sxProxy(nm, elem, sxelem) is
	build_generic_module(nm & "SXProxy", "SXProxy", [elem,sxelem], [elem])
end

readonly proc SxProxy(nm, elem, sxelem) is
	Build_generic_module(nm & "SXProxy", "SXProxy", [elem,sxelem], [elem])
end
