/* $Id$ */
readonly proc brandedSet(nm, elem, set) is
	build_generic_intf(nm, "BrandedSet", [elem, set], HIDDEN)
	build_generic_impl(nm, "BrandedSet", [elem, set])
end

readonly proc BrandedSet(nm, elem, set) is
	build_generic_intf(nm, "BrandedSet", [elem, set], VISIBLE)
	build_generic_impl(nm, "BrandedSet", [elem, set])
end
