/* $Id: brandedset.tmpl,v 1.4 2001/06/01 05:29:55 kp Exp $ */
readonly proc brandedSet(nm, elem, set) is
	build_generic_module(nm, "BrandedSet", [elem, set], [elem])
end

readonly proc BrandedSet(nm, elem, set) is
	Build_generic_module(nm, "BrandedSet", [elem, set], [elem])
end
