readonly proc toRefany(type) is
	build_generic_module(type & "ToRefany", "ToRefany", [], [type])
end 

readonly proc ref(nm, type) is
	build_generic_module(nm & "Ref", "Ref", [type], [type])
end

readonly proc Ref(nm, type) is
	Build_generic_module(nm & "Ref", "Ref", [type], [type])
end
