*~
*.swp
/runme.*
/siliconsmart.*
/siliconsmart
/runme.out*
/cell_list
/.cadence
/.cth_setup_files
/.pds.env
/.setup_r2g
/FineSim.cdsenv
/ade_lynx_gradual_aging
/blocks.lib
/cc.lib.defs
/cdslib
/collateral
/finesim_default_options.sp
/global
/hierEditor
/i0m_catalog
/intel_disciplines.vams
/lib.defs
/lm_displayPrefs
/menus
/netlister_include.cdl
/opuslib
/runs
/synopsys_custom
/tech
/tieCell.config
/vmac.cds.lib
/xa_default_options.sp
/pvts.zsh
/env.zsh
/project
/vmac
/design_class
/lv_icv
/rebalance.sh
/go
/allcells.dat
/missingcells.dat
/soughtcells.dat
/cc.lib.defs.bkp
/generated.cells
/required.cells
/monitorspace.out
