# These directories should never be added
/GATEKEEPER
/MockTurnin

# Never add Natural_Docs output - html or Data
/verif/*/doc/Data

/verif/*/doc/html/files
/verif/*/doc/html/index
/verif/*/doc/html/index.html
/verif/*/doc/html/javascript
/verif/*/doc/html/search
/verif/*/doc/html/styles


# DVT Eclipse
.project
.dvt
.settings
src/.project
src/.dvt
verif/.dvt
verif/.project
build/
target/
task_area/
results/
regression/
LOGS/
logs/

RELEASE_NOTES
RELEASE_NOTES_POST
Release_logs
.clone.perf.csv

# Temporary files
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

*.NFSLock
*.[oa]
*.back
*.bak
*.bak/
*.chf.macros
*.diff
*.fsdb
*.fsdb*
*.fsdb.gz
*.tar.gz
*.good
*.junk
*.junk/
*.local
*.log
*.log.gz
*.log/
*.me
*.new
*.old
*.old/
*.org
*.orig
*.rpt
*.sav
*.save
*.saved
*.sw?
*.swp
*.temp
*.tmp
*.out
*.out.gz
*.tmp/
*.rej
.consign
.nfs*
.trash.*
\#*\#
.\#*
*\#*
*~

vdCovLog/
verdiLog/
nWaveLog/
tags
TAGS
verdilogs*
novas.rc
novas.conf
signals.rc
