GATEKEEPER/*
CVS/
CVS/*
SCCS/
SCCS/*
BitKeeper/
BitKeeper/*
.SYNC/
.SYNC/*
.svn/
.svn/*
*~
.nfs*
.*.swp
*.bak
*.orig
*.junk
\#*
#*#
*results*/*
target/*
task_area/*
regression/*
.acetestinfo.log
junk/
debussyLog
*.db
*.ldb
*.pdb
*.plib
*.gds
*.volcano/
*.volcano/*
*.def
*.lef
*.spef
*.spf
*.tluplus
*.tf
*.nxtgrd
*.itf
*.ddc
*CEL/
*CEL/*
*ROUTE/
*ROUTE/*
*FRAM
*FRAM/*
*LM/
*LM/*
*SMASH
*SMASH/*
*simv
*simv.daidir/*
*simv.vdb/*
nebulon.*.log
