c
c     $Id$
c	
      subroutine delta_EXTENSION(v, d, n)
      implicit none
      integer  i
      TYPE v(n+1), d(n)
      
      res = 0.0

      do 100 i=1,n
         d(n) = v(i+1)-v(i)
 100  continue
      end
	
