% Copyright (c) 2025 Intel Corporation.  All rights reserved.  See the file COPYRIGHT for more information.
% SPDX-License-Identifier: Apache-2.0

readonly proc SetToList(nm, elem, set) is
  build_generic_intf(nm, "SetToList", [elem, set], VISIBLE)
  build_generic_impl(nm, "SetToList", [elem, set])
end