.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maboi22aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mand002aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoai13aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoai13aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoai13aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maob012aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maob012aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi012aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi012aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi013aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi112aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi112aa1n03x4@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoi122aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0maoib12aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/seq_ulvt/spf/@STDCELLDIR@_seq_ulvt_@METALCORNER@/@i0mfun400aa1q02x6@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/seq_ulvt/spf/@STDCELLDIR@_seq_ulvt_@METALCORNER@/@i0mfun400aa1q03x6@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0minv000aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mmtn022aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnanb02aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnanb02aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnand02aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnano22aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnanp02aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnona22aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnona23aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnona32aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnor002aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnorb02aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnorb02aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnorb02aa1n03x4@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mnorp02aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moa0012aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moab012aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moab012aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moabi12aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai012aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai012aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai012aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai112aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai112aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moai122aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moaib12aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0moaih12aa1n02x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0morn002aa1n02x7@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0morn002aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mxnrc02aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mxobna2aa1n03x5@.spf"
.include "/p/hdk/cad/stdcells/@STDCELLDIR@/@PDK@/base_ulvt/spf/@STDCELLDIR@_base_ulvt_@METALCORNER@/@i0mxorc02aa1n03x5@.spf"
