% Copyright (c) 2025 Intel Corporation.  All rights reserved.  See the file COPYRIGHT for more information.
% SPDX-License-Identifier: Apache-2.0


.include "include.sp"
.include "adder_tb_Width32_MaxCarryChain31_AdderType2_85C_tttt.spf"
